.headerSection {
    display: flex;
    justify-content: center;
}

.printIcon {
    display: flex;
    position: relative;
    top: 5px;
    left: 15px;
}
 
@media (max-width: 400px) {
    .headerSection {
        flex-direction: column;
        align-items: center;
    }
     

}