@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond";
} 

html {
  width: 100vw;
  height: 100vh;
}

body {
  background: #1e1f26;
  overflow-x: hidden; 
} 

.resumeForm {
  background: white;
  width: 860px;
  min-height: 840px;
  height: 100%;
  margin: auto;
  padding: 0 60px 60px 60px;
}

.darkMode {
  background: black;
  color: white;
  border-color: white;
}

@media (max-width: 860px) {
  .resumeForm {
    width: 100%;
  }
}